mixin meta(name, value)
  - if (({}).toString.call(value) === '[object Object]')
    - keyValue = []
    - for (key in value)
      - keyValue.push(key + '=' + value[key])
    meta(name=name, content=keyValue)
  - else
    meta(name=name, content=value)

mixin css(...styleFiles)
  - each styleFile in styleFiles
    link(href=styleFile, rel='stylesheet')

mixin js(...scriptFiles)
  - each scriptFile in scriptFiles
    script(src=scriptFile)

